---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <script src="https://utteranc.es/client.js"
        repo="JSerZANP/blog"
        issue-term="pathname"
        label="blog-comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<script>
const headings = document.querySelectorAll('h1[id],h2[id],h3[id],h4[id]');
const linkContent = '#';
for (const heading of headings) {
    const linkIcon = document.createElement('a');
    linkIcon.setAttribute('href', `#${heading.id}`);
    linkIcon.style.fontSize = '0.8em'
    linkIcon.style.padding = '0 0.5em';
    linkIcon.innerHTML = linkContent;
    heading.appendChild(linkIcon);
}
</script>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
